{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Register your interest here!</h2>
    
    {% if messages %}
        {% for message in messages %}
            <p class="form-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'contact' %}" id="applicationForm">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <label for="{{ form.name.id_for_label }}">Full Name</label>
        {{ form.name }}
        {{ form.name.errors }}

        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        {{ form.email.errors }}

        <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
        {{ form.phone_number }}
        {{ form.phone_number.errors }}

        <label for="{{ form.message.id_for_label }}">Message</label>
        {{ form.message }}
        {{ form.message.errors }}

        <button id="register-btn" type="submit">Submit</button>
    </form>
</main>
{% endblock %}
