{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Apply for a job with Cleaning with Yink!</h2>
    
    {% if messages %}
        {% for message in messages %}
            <p class="form-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Loop through the form fields -->
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-errors">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <!-- Declaration Checkbox -->
        <input type="checkbox" name="declaration" required id="declaration" 
               value="I hereby declare that the information provided in this application is true and complete to the best of my knowledge. I understand that any misrepresentation1 or omission of facts may be cause for rejection of this application or termination of employment.">
        <label for="declaration">Declaration</label>

        <!-- Non-field errors (e.g. form-wide validation errors) -->
        {{ form.non_field_errors }}

        <button id="register-btn" type="submit">Submit</button>
    </form>
</main>
{% endblock %}
